*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#task-manager {
    display:flex;
    justify-content: space-between;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.column {
    width: 40%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    text-align-last: center;
}
.task {
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}